[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/janurskremer/hugo-PaperMod.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
