:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    --theme: hsl(0, 0%, 90%);
    --entry: hsl(0, 0%, 75%);
    --primary: hsl(170, 92%, 34%);
    --secondary: hsl(170, 45%, 13%);
    --tertiary: hsl(170, 92%, 34%);
    --content: hsl(170, 28%, 20%);
    --hljs-bg: hsl(170, 92%, 34%);
    --code-bg: hsl(170, 66%, 84%);
    --border: hsl(170, 92%, 34%);
}

.dark {
    --theme: hsl(170, 31%, 12%);
    --entry: hsl(170, 64%, 17%);
    --primary: hsl(170, 100%, 84%);
    --secondary: hsl(170, 66%, 57%);
    --tertiary: hsl(170, 43%, 59%);
    --content: hsl(169, 41%, 75%);
    --hljs-bg: hsl(170, 100%, 50%);
    --code-bg: hsl(170, 76%, 13%);
    --border: hsl(170, 92%, 34%);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

::-webkit-scrollbar {
    background: var(--theme);
}